<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta
    http-equiv="content-type"
    content="text/html;charset=utf-8"
  />
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="author" content="mironcoder" />
    <meta name="email" content="mironcoder@gmail.com" />
    <meta name="profile" content="https://themeforest.net/user/mironcoder" />
    <meta name="template" content="greeny" />
    <meta name="title" content="greeny - Ecommerce Food Store HTML Template" />
    <meta
      name="keywords"
      content="organic, food, shop, ecommerce, store, html, bootstrap, template, agriculture, vegetables, products, farm, grocery, natural, online"
    />
    <title>Nông sản xanh Greeny</title>
    <link rel="icon" href="images/favicon.png" />
    <link rel="stylesheet" href="fonts/flaticon/flaticon.css" />
    <link rel="stylesheet" href="fonts/icofont/icofont.min.css" />
    <link rel="stylesheet" href="fonts/fontawesome/fontawesome.min.css" />
    <link rel="stylesheet" href="vendor/venobox/venobox.min.css" />
    <link rel="stylesheet" href="vendor/slickslider/slick.min.css" />
    <link rel="stylesheet" href="vendor/niceselect/nice-select.min.css" />
    <link rel="stylesheet" href="vendor/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="css/main.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   	<script>
        $(document).ready(function() {
            $('.product-add1').click(function(event) {
                event.preventDefault();
                
                var productId = $(this).data('product-id');
                
               	$.ajax({
                    type: "GET",
                    url: "/api/carts",
                    dataType: 'json',
                    success: function(response) {
                    	let isDuplicate = response.find((item) => item.product.productId === productId);
                    	if (!isDuplicate) {
                    		let totalCartItems = Number($('sup[id="totalCartItems"]').text());
                    		if (!totalCartItems) {
                    			totalCartItems = 0;
                    		}
                        	$('sup[id="totalCartItems"]').text(totalCartItems + 1);
                    	}
                    },
                    error: function() {}
                });
                
                $.ajax({
                    type: "GET",
                    url: "/addToCart",
                    data: {
                        productId: productId
                    },
                    success: function() {},
                    error: function() {}
                });
            });
            
            function addToCart() {
                $.ajax({
                    type: "GET",
                    url: "/api/carts",
                    dataType: 'json',
                    success: function(response) {
                    	if (response.length > 0) {
                    		$('.cart-list').text('')
                    		response.forEach((item) => {
                    			let cartItem = `<li class="cart-item"> <div class="cart-media"> <a href="/productDetail?id=${item.product.productId}"> <img src="/loadImage?imageName=${item.product.productImage}" alt="product"> </a> </div> <div class="cart-info-group"> <div class="cart-info"> <h6> <label>Tên sản phẩm :</label> <a href="/productDetail?id=${item.product.productId}" style="color: #119744">${item.product.productName}</a> </h6> <label>Đơn giá :</label> <p>${item.product.price} đ</p> </div> <div class="cart-action-group"> <div class="product-action"> <label>Số lượng :</label> <input class="action-input" title="Quantity Number" type="text" name="quantity" value="${item.quantity}"> </div> <h6>${item.totalPrice} đ</h6> </div> </div> </li>`;
                    			$('.cart-list').append(cartItem)
                    		})
                    	}
                    },
                    error: function() {}
                });
            }
            
            $('#cart-icon').click(function(event) {
            	$.ajax({
                    type: "GET",
                    url: "/api/total-cart-items",
                    dataType: 'json',
                    success: function(response) {
                    	$('#total-cart-items').text('(' + response + ')');
                    	if (Number(response) > 0) {
                    		document.getElementById("some-item-1").style.setProperty('display', 'block', 'important');
                    		document.getElementById("some-item-2").style.setProperty('display', 'block', 'important');
                    		document.getElementById("nothing-item").style.setProperty('display', 'none', 'important');
                    		addToCart();
                    	} else {
                    		document.getElementById("nothing-item").style.setProperty('display', 'block', 'important');
                    		document.getElementById("some-item-1").style.setProperty('display', 'none', 'important');
                    		document.getElementById("some-item-2").style.setProperty('display', 'none', 'important');
                    	}
                    },
                    error: function() {}
                });
            });
        });
    </script>
    <link rel="stylesheet" href="css/checkout.css" />
  </head>
  <body>
    
    <!--************************************
				Header Start
		*************************************-->
		<header th:replace="~{/web/fragments/header :: header}"></header>
		<!--************************************
				Header End
		*************************************-->

    <section
      class="inner-section single-banner"
      style="background: url(images/single-banner.jpg) no-repeat center">
      <div class="container">
        <h2>Thông tin đơn hàng</h2>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/}">Trang chủ</a></li>
        </ol>
      </div>
    </section>
    <section class="inner-section checkout-part">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="alert-info">
              <p>
                Phản hồi khách hàng? <a href="javascript:void(0);">Đăng nhập</a>
              </p>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="account-card">
              <div class="account-title"><h4>Đơn Đặt Hàng Của Bạn</h4></div>
              <div class="text-center">
					<h3 style="color: #119744" class="mt-5">GIAO DỊCH THANH TOÁN ĐƠN HÀNG QUA PAYPAL THÀNH CÔNG!</h3>
					<br>
					<h4>Chúc mừng bạn <span style="text-decoration: underline; color: #119744">[[${user.name}]]</span> đã đặt hàng, thanh toán thành công!</h4>
					<h5><em>Chúng tôi sẽ sớm giao đơn hàng cho bạn, cảm ơn!</em></h5>
					<h5><em>Thank you for your purchase, thank you!</em></h5>
					<hr>
					<a th:href="@{/}" style="text-decoration: underline; color: #119744"><em>Click tại đây để tiếp tục mua sắm!</em></a>
				</div>
            </div>
          </div>
          
        </div>
      </div>
    </section>
    
    <section
      class="news-part"
      style="background: url(images/newsletter.jpg) no-repeat center">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-5 col-lg-6 col-xl-7">
            <div class="news-text">
              <h2>Nhận chiết khấu 20% cho người đăng ký</h2>
              <p>Nhận chiết khấu 20% cho người đăng ký</p>
            </div>
          </div>
          <div class="col-md-7 col-lg-6 col-xl-5">
            <form class="news-form">
              <input
                type="text"
                placeholder="Enter Your Email Address"
              /><button>
                <span><i class="icofont-ui-email"></i>Subscribe</span>
              </button>
            </form>
          </div>
        </div>
      </div>
    </section>
    <section class="intro-part">
      <div class="container">
        <div class="row intro-content">
          <div class="col-sm-6 col-lg-3">
            <div class="intro-wrap">
              <div class="intro-icon"><i class="fas fa-truck"></i></div>
              <div class="intro-content">
                <h5>Giao Hàng Tận Nhà Miễn Phí</h5>
                <p>Lorem ipsum dolor sit amet adipisicing elit nobis.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="intro-wrap">
              <div class="intro-icon"><i class="fas fa-sync-alt"></i></div>
              <div class="intro-content">
                <h5>Chính Sách Hoàn Trả</h5>
                <p>Lorem ipsum dolor sit amet adipisicing elit nobis.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="intro-wrap">
              <div class="intro-icon"><i class="fas fa-headset"></i></div>
              <div class="intro-content">
                <h5>Hệ Thống Hỗ Trợ</h5>
                <p>Lorem ipsum dolor sit amet adipisicing elit nobis.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="intro-wrap">
              <div class="intro-icon"><i class="fas fa-lock"></i></div>
              <div class="intro-content">
                <h5>Cách Thanh Toán An Toàn</h5>
                <p>Lorem ipsum dolor sit amet adipisicing elit nobis.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!--************************************
				Footer Start
		*************************************-->
		<footer th:replace="~{/web/fragments/footer :: footer}"></footer>
				
		<!--************************************
				Footer End
		*************************************-->
		
		
    <script src="vendor/bootstrap/jquery-1.12.4.min.js"></script>
    <script src="vendor/bootstrap/popper.min.js"></script>
    <script src="vendor/bootstrap/bootstrap.min.js"></script>
    <script src="vendor/countdown/countdown.min.js"></script>
    <script src="vendor/niceselect/nice-select.min.js"></script>
    <script src="vendor/slickslider/slick.min.js"></script>
    <script src="vendor/venobox/venobox.min.js"></script>
    <script src="js/nice-select.js"></script>
    <script src="js/countdown.js"></script>
    <script src="js/accordion.js"></script>
    <script src="js/venobox.js"></script>
    <script src="js/slick.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
