<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <meta
    http-equiv="content-type"
    content="text/html;charset=utf-8"
  />
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="author" content="mironcoder" />
    <meta name="email" content="mironcoder@gmail.com" />
    <meta name="profile" content="https://themeforest.net/user/mironcoder" />
    <meta name="template" content="greeny" />
    <meta name="title" content="greeny - Ecommerce Food Store HTML Template" />
    <meta
      name="keywords"
      content="organic, food, shop, ecommerce, store, html, bootstrap, template, agriculture, vegetables, products, farm, grocery, natural, online"
    />
    <title>Nông sản xanh Greeny</title>
    <link rel="icon" href="images/favicon.png" />
    <link rel="stylesheet" href="fonts/flaticon/flaticon.css" />
    <link rel="stylesheet" href="fonts/icofont/icofont.min.css" />
    <link rel="stylesheet" href="fonts/fontawesome/fontawesome.min.css" />
    <link rel="stylesheet" href="vendor/venobox/venobox.min.css" />
    <link rel="stylesheet" href="vendor/slickslider/slick.min.css" />
    <link rel="stylesheet" href="vendor/niceselect/nice-select.min.css" />
    <link rel="stylesheet" href="vendor/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="css/main.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   	<script>
        $(document).ready(function() {
            $('.product-add1').click(function(event) {
                event.preventDefault();
                
                var productId = $(this).data('product-id');
                
               	$.ajax({
                    type: "GET",
                    url: "/api/carts",
                    dataType: 'json',
                    success: function(response) {
                    	let isDuplicate = response.find((item) => item.product.productId === productId);
                    	if (!isDuplicate) {
                    		let totalCartItems = Number($('sup[id="totalCartItems"]').text());
                    		if (!totalCartItems) {
                    			totalCartItems = 0;
                    		}
                        	$('sup[id="totalCartItems"]').text(totalCartItems + 1);
                    	}
                    },
                    error: function() {}
                });
                
                $.ajax({
                    type: "GET",
                    url: "/addToCart",
                    data: {
                        productId: productId
                    },
                    success: function() {},
                    error: function() {}
                });
            });
            
            function addToCart() {
                $.ajax({
                    type: "GET",
                    url: "/api/carts",
                    dataType: 'json',
                    success: function(response) {
                    	if (response.length > 0) {
                    		$('.cart-list').text('')
                    		response.forEach((item) => {
                    			let cartItem = `<li class="cart-item"> <div class="cart-media"> <a href="/productDetail?id=${item.product.productId}"> <img src="/loadImage?imageName=${item.product.productImage}" alt="product"> </a> </div> <div class="cart-info-group"> <div class="cart-info"> <h6> <label>Tên sản phẩm :</label> <a href="/productDetail?id=${item.product.productId}" style="color: #119744">${item.product.productName}</a> </h6> <label>Đơn giá :</label> <p>${item.product.price} đ</p> </div> <div class="cart-action-group"> <div class="product-action"> <label>Số lượng :</label> <input class="action-input" title="Quantity Number" type="text" name="quantity" value="${item.quantity}"> </div> <h6>${item.totalPrice} đ</h6> </div> </div> </li>`;
                    			$('.cart-list').append(cartItem)
                    		})
                    	}
                    },
                    error: function() {}
                });
            }
            
            $('#cart-icon').click(function(event) {
            	$.ajax({
                    type: "GET",
                    url: "/api/total-cart-items",
                    dataType: 'json',
                    success: function(response) {
                    	$('#total-cart-items').text('(' + response + ')');
                    	if (Number(response) > 0) {
                    		document.getElementById("some-item-1").style.setProperty('display', 'block', 'important');
                    		document.getElementById("some-item-2").style.setProperty('display', 'block', 'important');
                    		document.getElementById("nothing-item").style.setProperty('display', 'none', 'important');
                    		addToCart();
                    	} else {
                    		document.getElementById("nothing-item").style.setProperty('display', 'block', 'important');
                    		document.getElementById("some-item-1").style.setProperty('display', 'none', 'important');
                    		document.getElementById("some-item-2").style.setProperty('display', 'none', 'important');
                    	}
                    },
                    error: function() {}
                });
            });
        });
    </script>
    <link rel="stylesheet" href="css/error.css" />
  </head>
  <body>
    <section class="error-part">
      <div class="container">
        <h1>404 | Không tìm thấy!</h1>
        <img class="img-fluid" src="images/error.png" alt="error" />
        <h3>LỖI! Không thể tìm thấy trang này</h3>
        <p>Có vẻ như không có gì được tìm thấy tại vị trí này.</p>
        <a th:href="@{/}">Trang chủ</a>
      </div>
    </section>

  </body>
</html>
