<!DOCTYPE html>
<html lang="" xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>
</head>
<body>
	<footer class="footer-part" th:fragment= "footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-xl-3">
					<div class="footer-widget">
						<a class="footer-logo" href="javascript:void(0);">
							<img src="/images/logo.png" alt="logo" />
						</a>
						<p class="footer-desc">Công Ty Cổ Phần Dịch Vụ Thương Mại Tổng Hợp GreenCommerce</p>
						<p class="footer-desc">Rau củ quả sạch - Cho bữa ăn thêm tươi ngon.</p>
						<ul class="footer-social">
							<li><a class="icofont-facebook" href="https://www.facebook.com/khanhsmile399"></a></li>
							<li><a class="icofont-twitter" href="javascript:void(0);"></a></li>
							<li><a class="icofont-linkedin" href="https://www.linkedin.com/in/kh%C3%A1nh-nguy%E1%BB%85n-563a902b6/"></a></li>
							<li><a class="icofont-instagram" href="https://www.instagram.com/khanhquoc39/"></a></li>
							<li><a class="icofont-pinterest" href="javascript:void(0);"></a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-6 col-xl-3">
					<div class="footer-widget contact">
						<h3 class="footer-title">Liên hệ chúng tôi</h3>
						<ul class="footer-contact">
							<li><i class="icofont-ui-email"></i>
								<p>
									<span>support@greeny.com</span><span>carrer@greeny.com</span>
								</p></li>
							<li><i class="icofont-ui-touch-phone"></i>
								<p>
									<span>0904694470</span><span>0987654321</span>
								</p></li>
							<li><i class="icofont-location-pin"></i>
								<p>2-10 P.Lê Lợi, Hà Đông, Hà Nội</p></li>
						</ul>
					</div>
				</div>

				<div class="col-sm-6 col-xl-3">
					<div class="footer-widget">
						<h3 class="footer-title">Thông tin</h3>
						<div class="footer-links">
							<ul>
								<li><a href="javascript:void(0);">Thông tin giao hàng</a></li>
								<li><a href="javascript:void(0);">Tìm kiếm nâng cao</a></li>

							</ul>
							<ul>
								<li><a href="javascript:void(0);">Trợ giúp & câu hỏi</a></li>
								<li><a href="javascript:void(0);">Đơn hàng & trả hàng</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-xl-3">
					<div class="footer-widget">
						<h3 class="footer-title">Thời gian mở cửa</h3>
						<div class="footer-links">
							<ul>
								<li><a href="javascript:void(0);">Thứ 2-6 : 8h-20h</a></li>
								<li><a href="javascript:void(0);">T7-CN : 9h-17h</a></li>
								<li><a href="javascript:void(0);">Ngày lễ : Nghỉ</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="footer-bottom">
						<p class="footer-copytext">&copy; Developer by Khanh.NguyenQuoc</p>
						<div class="footer-card">
							<a href="javascript:void(0);">
								<img src="/images/payment/jpg/01.jpg" alt="payment" />
							</a>
							<!-- <a href="javascript:void(0);">
								<img src="/images/payment/jpg/02.jpg" alt="payment" />
							</a>
							<a href="javascript:void(0);">
								<img src="/images/payment/jpg/03.jpg" alt="payment" />
							</a>
							<a href="javascript:void(0);">
								<img src="/images/payment/jpg/04.jpg" alt="payment" />
							</a> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>